.lotus-dialog {
  font-family: var(--lotus-font-main);
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
  padding: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.lotus-dialog-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.lotus-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-color: var(--lotus-border-color);
  border-bottom-width: var(--lotus-border-width);
  border-bottom-style: var(--lotus-border-style);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.lotus-dialog-header-text {
  margin-top: -1em;
  margin-left: 0.5em;
}

.lotus-dialog-header-button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: -1em;
  margin-right: 0.5em;
}

.lotus-dialog-body {
  padding: 0.5em;
}

.lotus-dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-top-color: var(--lotus-border-color);
  border-top-width: var(--lotus-border-width);
  border-top-style: var(--lotus-border-style);
  padding: 0.5em;
}
