.lotus-typography-h3 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}

.lotus-typography-h4 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.lotus-typography-h5 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

.lotus-typography-h6 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.lotus-typography-subtitle1 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.lotus-typography-subtitle2 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.lotus-typography-body1 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.lotus-typography-body2 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em
}

.lotus-typography-caption1 {
  font-family: var(--lotus-font-main);
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.025em;
  display: block;
}