.lotus-input {
  font-family: var(--lotus-font-main);
}

.lotus-input:focus {
  outline: 0;
}

.lotus-input-primary {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-primary:focus {
  border-color: var(--lotus-color-primary);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-primary);
}


.lotus-input-secondary {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-secondary:focus {
  border-color: var(--lotus-color-secondary);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-secondary);
}

.lotus-input-success {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-success:focus {
  border-color: var(--lotus-color-success);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-success);
}

.lotus-input-danger {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-danger:focus {
  border-color: var(--lotus-color-danger);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-danger);
}

.lotus-input-warning {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-warning:focus {
  border-color: var(--lotus-color-warning);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-warning);
}

.lotus-input-info {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-info:focus {
  border-color: var(--lotus-color-info);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-info);
}

.lotus-input-accent {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-input-accent:focus {
  border-color: var(--lotus-color-accent);
  box-shadow: 0px 0px 0px 3px var(--lotus-shadow-accent);
}