.lotus-border-primary {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-primary:hover {
  border-color: var(--lotus-color-primary);
}

.lotus-border-primary:active {
  border-color: var(--lotus-color-primary);
}

.lotus-border-primary:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-secondary {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-secondary:hover {
  border-color: var(--lotus-color-secondary);
}

.lotus-border-secondary:active {
  border-color: var(--lotus-color-secondary)
}

.lotus-border-secondary:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-success {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-success:hover {
  border-color: var(--lotus-color-success);
}

.lotus-border-success:active {
  border-color: var(--lotus-color-success);
}

.lotus-border-success:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-danger {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-danger:hover {
  border-color: var(--lotus-color-danger);
}

.lotus-border-danger:active {
  border-color: var(--lotus-color-danger);
}

.lotus-border-danger:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-warning {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-warning:hover {
  border-color: var(--lotus-color-warning);
}

.lotus-border-warning:active {
  border-color: var(--lotus-color-warning);
}

.lotus-border-warning:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-info {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-info:hover {
  border-color: var(--lotus-color-info);
}

.lotus-border-info:active {
  border-color: var(--lotus-color-info);
}

.lotus-border-info:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}

.lotus-border-accent {
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border-accent:hover {
  border-color: var(--lotus-color-accent);
}

.lotus-border-accent:active {
  border-color: var(--lotus-color-accent);
}

.lotus-border-accent:disabled {
  border-color: var(--lotus-border-color);
  opacity: 0.65;
}