.lotus-foreground-primary {
  color: var(--lotus-color-primary);
}

.lotus-foreground-secondary {
  color: var(--lotus-color-secondary);
}

.lotus-foreground-success {
  color: var(--lotus-color-success);
}

.lotus-foreground-danger {
  color: var(--lotus-color-danger);
}

.lotus-foreground-warning {
  color: var(--lotus-color-warning);
}

.lotus-foreground-info {
  color: var(--lotus-color-info);
}

.lotus-foreground-accent {
  color: var(--lotus-color-accent);
}

.lotus-foreground-light {
  color: var(--lotus-color-light);
}

.lotus-foreground-dark {
  color: var(--lotus-color-dark);
}
