.lotus-gap-v-smaller {
  gap: 0.2rem;
}

.lotus-gap-v-small {
  gap: 0.2rem;
}

.lotus-gap-v-medium {
  gap: 0.3rem;
}

.lotus-gap-v-large {
  gap: 0.4rem;
}

.lotus-gap-h-smaller {
  gap: 0.25rem;
}

.lotus-gap-h-small {
  gap: 0.3rem;
}

.lotus-gap-h-medium {
  gap: 0.4rem;
}

.lotus-gap-h-large {
  gap: 0.5rem;
}
