.lotus-size-smaller {
  padding: var(--lotus-padding-smaller);
  font-size: x-small
}

.lotus-size-small {
  padding: var(--lotus-padding-small);
  font-size: small
}

.lotus-size-medium {
  padding: var(--lotus-padding-medium);
  font-size: medium;
}

.lotus-size-large {
  padding: var(--lotus-padding-large);
  font-size: large;
}