.lotus-label-container-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.lotus-label-container-h {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
