.lotus-chip {
  font-family: var(--lotus-font-main);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-color: var(--lotus-border-color);
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-chip-filled-primary {
  border-color: var(--lotus-color-primaryDark);
}

.lotus-chip-filled-secondary {
  border-color: var(--lotus-color-secondaryDark);
}

.lotus-chip-filled-success {
  border-color: var(--lotus-color-successDark);
}

.lotus-chip-filled-danger {
  border-color: var(--lotus-color-dangerDark);
}

.lotus-chip-filled-warning {
  border-color: var(--lotus-color-warningDark);
}

.lotus-chip-filled-info {
  border-color: var(--lotus-color-infoDark);
}

.lotus-chip-filled-accent {
  border-color: var(--lotus-color-accentDark);
}

.lotus-chip-outline-primary {
  color: var(--lotus-color-primary) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-primaryDark);
}

.lotus-chip-outline-primary:hover {
  color: white !important;
  background-color: var(--lotus-color-primary);
}

.lotus-chip-outline-secondary {
  color: var(--lotus-color-secondary) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-secondaryDark);
}

.lotus-chip-outline-secondary:hover {
  color: white !important;
  background-color: var(--lotus-color-secondary);
}

.lotus-chip-outline-success {
  color: var(--lotus-color-success) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-successDark);
}

.lotus-chip-outline-success:hover {
  color: white !important;
  background-color: var(--lotus-color-success);
}

.lotus-chip-outline-danger {
  color: var(--lotus-color-danger) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-dangerDark);
}

.lotus-chip-outline-danger:hover {
  color: white !important;
  background-color: var(--lotus-color-danger);
}

.lotus-chip-outline-warning {
  color: var(--lotus-color-warning) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-warningDark);
}

.lotus-chip-outline-warning:hover {
  color: black !important;
  background-color: var(--lotus-color-warning);
}

.lotus-chip-outline-info {
  color: var(--lotus-color-info) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-infoDark);
}

.lotus-chip-outline-info:hover {
  color: white !important;
  background-color: var(--lotus-color-info);
}

.lotus-chip-outline-accent {
  color: var(--lotus-color-accent) !important;
  background-color: var(--lotus-color-background);
  border-color: var(--lotus-color-accentDark);
}

.lotus-chip-outline-accent:hover {
  color: white !important;
  background-color: var(--lotus-color-accent);
}